pandas==2.2.3
numpy==1.26.4
scipy==1.15.2
scikit-learn==1.6.1
spacy==3.7.5
scispacy==0.5.5

# you always need to download the spcy models explicitly, i.e., for "en_ner_bc5cdr_md" use
# !pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz